fastapi==0.110.0
langchain==0.1.9
langchain_core==0.1.27
langchain_google_firestore==0.1.1
langchain_openai==0.0.8
langserve==0.0.51
protobuf==4.25.3
pydantic==2.6.4
python-dotenv==1.0.1
uvicorn==0.28.0
